Source: libgtk2-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 3.0.16), perl (>= 5.8.0-7), libglib-perl (>= 1.00rc1), libgtk2.0-dev
Maintainer: James Curbo <hannibal@adtrw.org>
Standards-Version: 3.6.0

Package: libgtk2-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libglib-perl (>= 0.92)
Description:  Perl interface to the 2.x series of the Gimp Toolkit library
 The Gtk2 module allows a perl developer to use the Gtk+ graphical user
 interface library. The perl bindings follow the C API very closely, and 
 the C reference documentation should be considered the canonical source.
